.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.35;
  /* The sidebar will take 35% of the width of the body */
}
.sidebar__search {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  height: 39px;
  padding: 10px;
}

.sidebar__searchContainer {
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 35px;
  border-radius: 20px;
}

.sidebar__searchContainer > input {
  border: none;
  margin-left: 10px;
}

.sidebar__searchContainer > input:focus {
  outline: none;
}

.sidebar__searchContainer > .MuiSvgIcon-root {
  color: gray;
  padding: 10px;
}
.sidebar__header {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 20px;
  border-right: 1px solid lightgray;
}

.sidebar__headerRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 10vw;
}

.sidebar__headerRight > .MuiIconButton-root {
  /* margin-right: 15vw !important; */
  padding: 1vw;
  font-size: 24px !important;
}

.sidebar__chats {
  /* background-color: lightblue; */
  flex: 1;
  /* We use flex:1 so it uses the entire height of the container (notice that the flex direction is column) */
  overflow: scroll;
  /* Use overflow: scroll to manage the scrolling WITHIN the container */
}
